@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.App {
  text-align: center;
  background: url("./Images/gas.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 80vw;
  height: 60vh;
  margin: 0 auto;
}

.DataFetch {
  margin: 0 auto;
  padding-top: 20vh;
  font-size: 5em;
  font-family: "Raleway";
  color: rgb(235, 90, 90);
  background-color: rgb(218, 218, 218, 0.3);
}

.gasPrice {
  background-color: rgba(250, 238, 221, 0.694);
  font-family: "Raleway";
  border-radius: 4px;
  width: 30%;
  margin: 0 auto;
}
